@model IEnumerable<OARS.Models.SiteListItem>

@{
    ViewBag.Title = "Index";
}

<h2 class="text-white">Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
@if (TempData.ContainsKey("SaveResult"))
{
    <div class="alert alert-success fade in" role="alert">

        <button type="button" class="close" data-dismiss="alert">
            <span>&times;</span>
        </button>
        @TempData["SaveResult"]
    </div>
}
<table class="table text-white">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SiteID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ModernSiteName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AncientSiteName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Latitude)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Longitude)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.OccupiedEras)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CulturesPresent)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PastSiteDirectors)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.CurrentSiteDirectors)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AssociatedUniversities)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.SiteID)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.ModernSiteName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.AncientSiteName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Latitude)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Longitude)
    </td>
    @*<td>
            @Html.DisplayFor(modelItem => item.OccupiedEras)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CulturesPresent)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PastSiteDirectors)
        </td>*@
    <td>
        @Html.DisplayFor(modelItem => item.CurrentSiteDirectors)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.AssociatedUniversities)
    </td>
    <td>
        @Html.ActionLink("Edit", "Edit", new { id = item.SiteID }) |
        @Html.ActionLink("Details", "Details", new { id = item.SiteID }) |
        @Html.ActionLink("Delete", "Delete", new { id = item.SiteID })
    </td>
</tr>
    }

</table>
