@model OARS.Models.ArtifactDetail

@{
    ViewBag.Title = "Details";
}

    <h2 class="text-white">Artifact @Html.DisplayFor(model => model.ArtifactID)</h2>

<div class="text-white">   
    
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ArtifactID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ArtifactID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ArchaeologistID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ArchaeologistID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ModernSiteName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModernSiteName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Weight)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Weight)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ElevationFound)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ElevationFound)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ComparativeLayer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ComparativeLayer)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Latitude)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Latitude)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Longitude)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Longitude)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Material)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Material)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ContextSoilType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ContextSoilType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SoilColorMunsellValue)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SoilColorMunsellValue)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateTimeDiscovered)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateTimeDiscovered)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsItDiagnostic)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsItDiagnostic)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ArchaeologicalSignificance)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ArchaeologicalSignificance)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ArtifactID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
